 .u-section-1 {
  background-image: none;
  min-height: 1203px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 1140px;
  margin: 0 auto;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 410px;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 20px;
  padding-top: 0;
  padding-bottom: 0;
}

.u-section-1 .u-text-1 {
  font-size: 6rem;
  font-family: "Archivo Black";
  margin: 0 20px 0 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 410px;
}

.u-section-1 .u-container-layout-2 {
  padding-bottom: 0;
}

.u-section-1 .u-image-1 {
  width: 233px;
  height: 233px;
  margin: 0 32px 0 auto;
}

.u-section-1 .u-image-2 {
  height: 729px;
  margin-top: -52px;
  margin-bottom: 0;
}

.u-section-1 .u-image-3 {
  width: 730px;
  height: 1295px;
  margin: -1295px auto 0 0;
}

.u-section-1 .u-text-2 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-size: 1.5rem;
  margin: -619px calc(((100% - 1140px) / 2) + 76px) 0 calc(((100% - 1140px) / 2) + 570px);
}

.u-section-1 .u-text-3 {
  font-size: 1.25rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 0 calc(((100% - 1140px) / 2) + 32px) 0 calc(((100% - 1140px) / 2) + 845px);
}

.u-section-1 .u-text-4 {
  font-size: 1.25rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 0 calc(((100% - 1140px) / 2) + 32px) 60px calc(((100% - 1140px) / 2) + 845px);
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 1131px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 940px;
    margin-left: calc(((100% - 1140px) / 2) + 100px);
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 338px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 16px;
  }

  .u-section-1 .u-text-1 {
    position: relative;
    margin-top: 157px;
    margin-right: 16px;
    font-size: 4.5rem;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 338px;
  }

  .u-section-1 .u-image-2 {
    margin-top: -53px;
  }

  .u-section-1 .u-image-3 {
    margin-top: -1294px;
    margin-left: calc(((100% - 940px) / 2) + -85px);
  }

  .u-section-1 .u-text-2 {
    margin-right: 262px;
    margin-left: calc(((100% - 940px) / 2) + 445px);
  }

  .u-section-1 .u-text-3 {
    margin-left: calc(((100% - 940px) / 2) + 677px);
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-text-4 {
    margin-right: calc(((100% - 940px) / 2));
    margin-left: calc(((100% - 940px) / 2) + 677px);
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 1034px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
    margin-left: calc(((100% - 1140px) / 2) + 210px);
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 13px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    margin-top: 27px;
    margin-right: 13px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 259px;
  }

  .u-section-1 .u-image-1 {
    width: 204px;
    height: 204px;
    margin-right: 0;
  }

  .u-section-1 .u-image-3 {
    width: 720px;
    height: 1277px;
    margin-left: calc(((100% - 720px) / 2) + -85px);
  }

  .u-section-1 .u-text-2 {
    margin-top: -601px;
    margin-right: 201px;
    margin-left: calc(((100% - 720px) / 2) + 341px);
  }

  .u-section-1 .u-text-3 {
    margin-left: calc(((100% - 720px) / 2) + 457px);
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-text-4 {
    margin-right: calc(((100% - 720px) / 2));
    margin-left: calc(((100% - 720px) / 2) + 457px);
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 1242px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 9px;
  }

  .u-section-1 .u-text-1 {
    font-size: 4.5rem;
    margin-top: -4px;
    margin-right: 9px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 686px;
  }

  .u-section-1 .u-image-3 {
    width: 540px;
    height: 958px;
    margin-left: calc(((100% - 540px) / 2) + -85px);
  }

  .u-section-1 .u-text-2 {
    margin-top: -282px;
    margin-right: 151px;
    margin-left: calc(((100% - 540px) / 2) + 256px);
  }

  .u-section-1 .u-text-3 {
    margin-left: calc(((100% - 540px) / 2) + 277px);
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-text-4 {
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2) + 277px);
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 633px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 6px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    margin-top: -15px;
    margin-right: 6px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 432px;
  }

  .u-section-1 .u-image-3 {
    width: 340px;
    height: 603px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-text-2 {
    margin-top: 73px;
    margin-right: 95px;
    margin-left: calc(((100% - 340px) / 2) + 161px);
  }

  .u-section-1 .u-text-3 {
    margin-left: calc(((100% - 340px) / 2) + 77px);
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-text-4 {
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2) + 77px);
  }
} .u-section-2 {
  background-image: url("https://assets.nicepagecdn.com/d1ef4724/5619490/images/coolbg1.png");
  min-height: 854px;
}

.u-section-2 .u-image-1 {
  width: 570px;
  height: 345px;
  transition-duration: 1s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  box-shadow: -2px 0 0 0 rgba(0,0,0,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  margin: 268px auto 0 calc(((100% - 1140px) / 2) + 254px);
}

.u-section-2 .u-image-2 {
  width: 172px;
  height: 363px;
  margin: -354px 0 0 auto;
}

.u-section-2 .u-image-3 {
  width: 175px;
  height: 355px;
  margin: -372px auto 60px 0;
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 704px;
  }

  .u-section-2 .u-image-1 {
    margin-left: calc(((100% - 940px) / 2) + 254px);
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 539px;
  }

  .u-section-2 .u-image-1 {
    margin-left: calc(((100% - 720px) / 2) + 150px);
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 386px;
  }

  .u-section-2 .u-image-1 {
    width: 540px;
    height: 327px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-image-2 {
    margin-top: -336px;
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 265px;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 206px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-image-2 {
    margin-top: -215px;
  }
}

.u-section-2 .u-image-1,
.u-section-2 .u-image-1:before,
.u-section-2 .u-image-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-image-1.u-image-1.u-image-1:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: 0px 2px 8px 0px rgba(128,128,128,1) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-2 .u-image-1 {
  border-color: transparent !important;
}

.u-section-2 .u-image-1.u-image-1.u-image-1.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: 0px 2px 8px 0px rgba(128,128,128,1) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-2 .u-image-1 {
  border-color: transparent !important;
}

.u-section-2 .u-container-layout:hover .u-image-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-2 .u-image-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
} .u-section-3 {
  background-image: url("https://assets.nicepagecdn.com/d1ef4724/5619490/images/ScreenRecording2023-08-16at11.16.32AM.gif");
  min-height: 690px;
}

.u-section-3 .u-group-1 {
  margin-top: 581px;
  margin-bottom: 0;
  min-height: 110px;
  height: auto;
}

.u-section-3 .u-container-layout-1 {
  padding: 18px 9px;
}

.u-section-3 .u-text-1 {
  margin: 0 auto 0 21px;
}

.u-section-3 .u-social-icons-1 {
  height: 69px;
  min-height: 16px;
  width: 226px;
  min-width: 68px;
  margin: -25px 21px 0 auto;
}

.u-section-3 .u-icon-1 {
  color: rgb(59, 89, 152) !important;
  height: 100%;
}

.u-section-3 .u-icon-2 {
  color: rgb(85, 172, 238) !important;
  height: 100%;
}

.u-section-3 .u-icon-3 {
  color: rgb(197, 54, 164) !important;
  height: 100%;
}

.u-section-3 .u-text-2 {
  margin: -47px auto 0 21px;
}

.u-section-3 .u-line-1 {
  width: 912px;
  margin: 5px auto 0 0;
}

@media (max-width: 1199px) {
   .u-section-3 {
    min-height: 569px;
  }

  .u-section-3 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
   .u-section-3 {
    min-height: 436px;
  }

  .u-section-3 .u-line-1 {
    width: 701px;
  }
}

@media (max-width: 767px) {
   .u-section-3 {
    min-height: 327px;
  }

  .u-section-3 .u-line-1 {
    width: 521px;
  }
}

@media (max-width: 575px) {
   .u-section-3 {
    min-height: 206px;
  }

  .u-section-3 .u-line-1 {
    width: 321px;
  }
}